<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
{{name}}, Hello World!<br/>
age is {{age}}<br/>
sex is {{sex}}<br/>
Hi!<br/>
</body>
</html>
